@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


body {
    margin: 0;
    font-family:  "Lato", "sans-serif";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #242526;
    color: #faf9f6;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
    color: #ffd700;
}

@font-face {
    font-family: "Sobiscuit";
    src: local("Sobiscuit"), url(./fonts/Sobiscuit.ttf) format("truetype");
}
